body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  background-color: #f1f1f1;
}

form {
  padding: 50px;
}

.form-control::placeholder {
  color: #999;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.booking-mask {
  margin: 10%;
  padding: 20px;
  width: 100vw;
}

.booking-mask-title {
  color: #888;
  margin: 30px 0px 0px 40px;
}

.nav-link {
  margin-bottom: 10px;
}

.trip-types .nav-link {
  padding: 5px 10px;
  border-radius: 0.3rem;
  cursor: pointer;
}

.trip-types .nav-link.active {
  background-color: #76c5e0;
  color: #fff !important;
  border: 0px;
}

.trip-types .nav-link:hover {
  border-color: #ecf0f1;
}

.text-input {
  margin-top: 25px;
}

.calendar-field {
  cursor: pointer;
}

.calendar-field:read-only {
  background-color: #fff;
}

.btn-search {
  margin-top: 31px;
  width: 100%;
  cursor: pointer;
}
